@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 96px;
  padding-top: 20px;
  align-items: center;
  position: sticky;
}

.mainlogo {
  width: 90px;
  height: 28px;

}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 50px;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 423px;
  height: 22px;
  font-family: "Open-Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #183B56;
  list-style-type: none;
  align-items: center;
}

.getit {
  border-radius: 8px;
  height: 48px;
  border: 2px solid;
  width: 131px;
  filter: drop-shadow(0 10 25 0 #1525481A);
  font-family: "Open-Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  color: #1565D8;
  border-color: #1565D8;


}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 555px;

}

.headings {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
  letter-spacing: 0.2px;
  color: #183B56;
  line-height: 68px;
}

.herosection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 96px;
}

.logos {
  width: 264px;
  height: 32px;
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 0px;
  justify-content: space-between;
  align-self: flex-end;
}

.intro {
  font-family: "Open-Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #5A7184;
  padding-top: 40px;
}

.imagesection {
  display: flex;
}

.imagesection img {
  object-fit: fill;
  max-width: 2440px;
  width: 100%;
  height: auto;
  margin: 0 auto;

}

.biosection {
  padding: 120px;
}

.bio {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.2px;
  color: #183B56;
  text-align: center;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
}


.concerts {
  display: flex;
  margin-top: -40px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 46px;
  max-width: 100%;

}

.concertHeading {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #183B56;
  align-items: center;
}

.schedule {
  font-family: "Open-Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #5A7184;
  align-items: center;
}

.arrow {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  gap: 40px;

}

.leftarrow {
  width: 56px;
  height: 56px;
}

.rightarrow {
  width: 56px;
  height: 56px;
}

.cardd {
  margin: 0 auto;
}

.card-gridd {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 24px;
  max-width: 100%;
  padding: 0 96px;
  padding-top: 40px;
}

.scroll-button {
  display: none;
}

.fest-card {
  margin-top: 40px;
  background: white;
  border-radius: 10px;
  text-align: center;
  position: relative;
  height: 320px;

}

.fest-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.date-tag {
  font-family: "Hanken Grotesk", sans-serif;
  background: #F9FBFE;
  padding: 13px 14px;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 600;
  position: absolute;
  top: 150px;
  left: 50%;
  width: 147px;
  height: 44px;
  transform: translateX(-50%);
  border-radius: 8px;
  color: #183B56;
}

.fest-card h2 {
  font-size: 18px;
  margin: 30px 0 5px;
  color: #183B56;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.2px;
  font-weight: 700;
}

.fest-card p {
  font-family: "Open-Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #7c8ca1;
  margin-bottom: 15px;
}

.buy-btn {
  width: 100%;
  height: 54px;
  background-color: #F9FBFE;
  font-weight: 700;
  font-family: "Hanken Grotesk", sans-serif;
  color: #1565D8;
  line-height: 24px;
  letter-spacing: 0.2px;
  border: none;
  font-size: 20px;

}

.sold-out {
  width: 100%;
  height: 54px;
  background-color: #e954320b;
  border: none;
  padding-top: 12px;
}

.sold-out p {
  font-weight: 700;
  font-family: "Hanken Grotesk", sans-serif;
  color: #E95432;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-size: 20px;
}


.videos-section {
  text-align: center;
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

.videos-section h2 {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
  color: #183B56;
}

.videos-section p {
  font-family: "Open-Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #7a8aa1;
  font-size: 16px;
  margin-bottom: 40px;
}

.videos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;


}

.video-card {
  position: relative;
  border-radius: 8px;
}

.video-card img {
  width: 100%;
  height: auto;
  display: block;

}

.video-card.wide {
  grid-column: span 2;
}
.video-card.wide::-webkit-scrollbar{
  display: none;
}
.video-card::-webkit-scrollbar{
  display: none;
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.youtube,
.spotify {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  width: 243px;
  height: 56px;
}

.youtube {
  background-color: #e954321e;
  color: #E95432;
}

.spotify {
  background-color: #36b37f1a;
  color: #36B37E;
}

.youtube span,
.spotify span {
  margin-left: 8px;
}

.lineimage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
}

.merch-section {
  display: flex;
  padding-left: 96px;
  margin-bottom: 10%;
  max-width: 100%;
  height: 374px;
  flex-direction: row;
  justify-content: center;

}

.text-area {
  flex: 1;
  width: 321px;
}

.text-area h2 {
  font-size: 48px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.2 px;
  color: #183B56;
  margin-bottom: 20px;
}

.text-area p {
  font-family: "Open-Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #5A7184;
  line-height: 32px;
  margin-bottom: 18%;
}

.nav-buttons {
  width: 54px;
  height: 56px;
  display: flex;
  gap: 17px;
}

.nav-buttons-bottom {
  display: none;
}

.merch-section-tab {
  display: none;
}

.products-scroll {
  display: flex;
  flex-direction: row;
  gap: 30px;
  overflow: hidden;
  flex: 2;

}

.product {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 374px;
  width: 300px;

}


.social-section {
  max-width: 100%;
  background-color: #F9FBFE;
  margin: auto;
  padding: 60px 20px;
  text-align: center;
}

.social-section h2 {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.2px;
  margin-bottom: 25px;
  color: #183B56;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}

.filter-buttons button {
  font-family: "Open-Sans", sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-size: 16px;
  border: 2px solid #5A7184;
  background: none;
  border-radius: 2000px;
  color: #5A7184;
  padding: 13px 30px;
  overflow: hidden;
}

.filter-buttons button.active {
  background-color: #eef5ff;
  color: #1565D8;
  border-color: #1565D8;

}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  padding: 3% 96px;
}

.post-card {
  background: #ffffff;
  border-radius: 8px;
  text-align: left;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #183B56;
}

.user-info img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.time {
  font-family: "Open-Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #5A7184;
}

.post-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  margin-bottom: 10px;
}

.post-card p {
  font-family: "Open-Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5A7184;
  padding: 13px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  padding: 13px;
}

.icon {
  font-size: 16px;
}



.footer {
  background-color: #0D2436;
  color: #5A7184;
  padding: 96px;
  text-align: center;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  text-align: left;
}

.footer-brand {
  flex: 1;
  min-width: 220px;
  margin-bottom: 40px;
}

.footer-brand h2 {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
  
}



.footer-brand p {
  font-size: 16px;
  font-family: "Open-Sans", sans-serif;
  color: #5A7184;
  line-height: 28px;
  padding: 20px 0px;
}


.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}

.social-icons span {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer-columns {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  margin-top: 10px;
}

.column h4 {
  color: #5A7184;
  font-size: 18px;
  font-family: "Open-Sans", sans-serif;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 30px;
  overflow-y: hidden;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column ul li {
  margin-bottom: 30px;
  font-family: "Open-Sans", sans-serif;
  color: #959EAD;
  font-size: 16px;
}

.footer-bottom {
  text-align: center;
  margin-top: 70px;
  color: #5A7184;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  font-family: "Open-Sans", sans-serif;
}

.footer-bottom .heart {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 40px;
}


.menu-toggle {
  display: none;
}

/* Menu icon hidden by default (shown only on small screens) */
.menu-icon {
  display: none;
  cursor: pointer;
}